@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-100 dark:bg-gray-900 text-slate-800 dark:text-slate-100 transition-colors duration-300;
    }
}